#carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
    %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
    %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
  / Wrapper for slides
  .carousel-inner
    .item.active
      = image_tag 'home1.jpg'
      
      .carousel-caption
        %h1(style="font-size:5em;font-weight:bolder;text-shadow: 0 0 10px #111;padding-bottom:2em;") We buy your house

    .item
      = image_tag 'home1.jpg'
      .carousel-caption
        %h1(style="font-size:5em;font-weight:bolder;text-shadow: 0 0 10px #111;padding-bottom:2em;") Get paid cash
  / Controls
  %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
    %span.glyphicon.glyphicon-chevron-right