#house-carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#house-carousel-example-generic"}
    %li{"data-slide-to" => "1", "data-target" => "#house-carousel-example-generic"}
    %li{"data-slide-to" => "2", "data-target" => "#house-carousel-example-generic"}
  / Wrapper for slides
  .carousel-inner
    .item.active
      %img{:alt => "...", :src => "http://www.wsd.com/wp-content/uploads/2013/02/2921-John-Marshall-Dr-large-005-2921-John-Marshall-Dr7-1500x1000-72dpi-1224x605.jpg"}/
      .carousel-caption
        %h2 property name
        %p this is some bullshit about a home!
    .item
      %img{:alt => "...", :src => "http://www.wsd.com/wp-content/uploads/2013/02/backyard-1224x605.jpg"}/
      .carousel-caption
        %h2 other property name
        %p this is some other bullshit about a home!
  / Controls
  %a.left.carousel-control{"data-slide" => "prev", :href => "#house-carousel-example-generic", :role => "button"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", :href => "#house-carousel-example-generic", :role => "button"}
    %span.glyphicon.glyphicon-chevron-right