.container-fluid.no-paddding
  .col-xs-12.no-padding
    = render "carousel"
.container-fluid
  %h1.text-center our homes
  .row
    .col-xs-12.col-md-6
      .embed-responsive.embed-responsive-4by3
        %iframe.embed-responsive-item(src="https://mapsengine.google.com/map/u/0/embed?mid=ztSFQwTFPZCc.kgxh_p1iYidY")
    .col-xs-12.col-md-6
      = render "house_carousel"
.container-fluid#footer
  .row
    .col-xs-12.col-md-6.col-md-offset-3.text-center
      = render "tool_form"