// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
h1,h2,h3,h4,h5,h6,p, a {
  font-family: 'Raleway', sans-serif;
}
b{font-weight:900;}
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }
.navbar-nav > li > a {
  line-height:50px;
  font-weight: bolder;
  color: black;
}
.navbar {background: rgba(255,255,255,1);}
// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 0px;
  padding-left:0;padding-right:0;
  width: 100%;
  margin-top: 80px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }
.no-padding{ padding-left:0; padding-right:0;}